.container-fixed(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

.generate-columns(@container-width; @number-cols; @i: 1) when(@i =< @number-cols) {
  .col-@{i} {
    @single-width: @container-width / @number-cols;
    width: @i * @single-width;
  }

  .generate-columns(@container-width; @number-cols; @i + 1);
}

.make-grid(@container-width) {
  @media(min-width: @container-width) {
    width: @container-width;

    .generate-columns(@container-width, @grid-columns);
  }
}

.button-creater(@color) {
  background: @color;
  box-shadow: 0px 3px 0px darken(@color, 10%);

  &:active {
    box-shadow: 0px 1px 0px darken(@color, 10%);
    position: relative;
    top: 2px;
  }
}

.btn {
  margin: 10px;
  padding: 10px;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
  color: #fafafa;

  &.btn-less-1 {
    .button-creater(#17805B);
  }

  &.btn-less-2 {
    .button-creater(#5a5a5a);
  }

  &.btn-less-3 {
    .button-creater(#6A598D);
  }
}
